// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// My colors:

$dark-gray: #333333;
$white: #ffffff;
$light-blue: #e1f4f3;
$middle-gray: #706c61;
$dark-blue: #272343;
$pastel-green: #e3f6f5;
$pastel-light-blue: #bae8e8;
$darker-green: #00909e;

$darker-pink: #b21f66;
$anthracite: #303030;
