.bookme-btn {
  padding: 5px;
  width: 200px;
  background-color: $white;
  border: 3px solid $anthracite;
  text-align: center;
  margin-top: 30px;
  a {
    display: block;
    width: 100%;
  }
}

.bookme-btn:hover {
  background-color: $anthracite;
  cursor: pointer;
  a {
    color: $white !important;
  }
}
