.card-col {
  width: 220px;
  margin: 15px 10px;
  background-color: $white;
  border: 3px solid $anthracite;
}

.img-card {
  width: 214px;
  height: 214px;
  background-size: cover;
}

.card-content {
  margin-top: 10px;
  padding: 7px;
}
