.common-btn {
  padding: 5px;
  width: 100%;
  background-color: $white;
  border: 3px solid $anthracite;
  text-align: center;
  a {
    display: block;
    width: 100%;
  }
}

.common-btn:hover {
  background-color: $anthracite;
  cursor: pointer;
  a {
    color: $white;
  }
}
