.friend-card {
  background-color: $white;
  display: flex;
}

.price {
  text-align: right;
}

.friend-card h1 {
  border-bottom: 1px solid $dark-blue;
}

.friend-picture {
  margin-right: 20px;
}

.img-friend {
  width: 400px;
  height: 400px;
  background-size: cover;
}

.friend-category {
  display: flex;
}

.category {
  padding: 5px;
  background-color: $darker-pink;
}
