.friend-card {
  background-color: $white;
  display: flex;
  // flex-wrap: wrap;
  border: 3px solid $anthracite;
}

// CONTENT OF THE CARD

.friend-content {
  margin-top: 30px;
  padding: 10px;
  flex-grow: 8;
}


.friend-picture {
  flex-grow: 1;
  background-size: cover;
}

.price {
  text-align: right;
}

.img-friend {
  width: 400px;
}

.friend-category {
  display: flex;
  margin-top: 30px;
  border-bottom: 1px solid $anthracite;
}

.friend-category p {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 18px;
}

.color-category {
  color: $warm-orange;
  font-weight: 700;
}

.description-friend p {
  padding: none;
}

.description-friend {
  font-style: italic;
  font-weight: 300;
  margin-top: 20px;
  border-bottom: 1px solid $anthracite;
}






