.friend-card h1 {
  text-transform: uppercase;
  font-size: 60px;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.img-friend {
  width: 500px;
}

.friend-card {
  margin-top: 40px;
}

.friend-card .price {
  font-weight: bold;
  font-style: italic;
}
